
.custom-modal
{
    border-color: aquamarine;
}

.file-button
{
    margin: 1em;
}

.remove-button
{
    margin: 0px;
}

.mapping-div
{
    margin-bottom: 1em;
}
.modal-title
{
    margin-right: 80%;
}

.modal-dialog
{
    background-color: aqua;
}

#circle
{
  position: inherit;
  top: -18%;
  left: -100%;
  width: 100px;
  height: 40px;
  z-index: 100;
  text-align: center;
  background: white;
  color: #12465a;

  border-radius: 10px;
  border-color: #12465a;
  border-style: solid;
  border-width: 4px;
  pointer-events:none;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.mapping-import-button {
    padding: 6px 12px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    color: #e1e8ed;
    background-color: #12465a;
    text-align: center;
  }

  .mapping-import-button:hover {
    background-color: #216580;
  } 

.keyboard-mappings
{
    border-radius: 10px;
    border-color: #12465a;
    border-style: solid;
    color: #f8fbfc;
    background-color: #12465a;
    border-width: 3px;
    padding-bottom: 0;
    width: 20%;
    margin-top: 1em;
}

.keyboard-mappings-title
{
    margin-left: 0.5em;
    margin-top: 0.5em;

   
}

.no-border
{
  

    border-width: 1px;
    border-radius: 10px;
    border-color: #d9dfe2;
    border-style: solid;
}